@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fuzzy+Bubbles&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ul li::before {
    content: "•";
    color: black;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 1.5em;
  } */

  ul {
    @apply list-inside list-disc;
  }